.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: 500;
  }
  
  .navbar li {
    margin: 1rem;
  }
  
  .navbar span {
    font-weight: bold;
  }
  .navbar ul li:hover{
    color:grey;
    cursor: pointer;
    text-decoration-line: underline;
    
  }
  
  
  